# --------------------------------
# Logs y datos temporales
logs/
*.log
npm-debug.log*
yarn-debug.log*
*.pid
*.seed
*.pid.lock


# --------------------------------
# Directorios de dependencias
node_modules/
.npm/
ejecucion_proyecto.txt
Resumen Ejecutivo Integrado.docx

# --------------------------------
# Cache de herramientas
.cache/
.eslintcache
coverage/
*.lcov

# --------------------------------
# Variables de entorno (proteger contraseñas y rutas locales)
.env
.env.*
config.yml
!.env.example

# --------------------------------
# Compilaciones y builds
build/
dist/
.next/
out/

# --------------------------------
# Bases de datos y backups locales
*.sqlite
*.db
*.db-journal
*.bak
*.sqlite3
backend/database/*.db
backend/database/backups/

# --------------------------------
# Notebooks y checkpoints
.ipynb_checkpoints/
*.
ipynb~

# --------------------------------
# IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# --------------------------------
# Archivos de sistema
.DS_Store
Thumbs.db

# --------------------------------
# React Native / Expo
.expo/
